footer.footer#footer
  .container.footer__container
    .footer__copyrights-box
      include ./logo
      span.copyrights Фотостудия High pass® 2018-2020
    p.quote Которая из&nbsp;моих фотографий самая любимая? Та,&nbsp;которую я&nbsp;собираюсь снять завтра.
      span.quote__author © Имоджен Каннингем
    .footer__social-box
      span.footer__text Больше интересного:
      include ./social
