ul.social
  li.social__item
    a.social__link(href="https://www.instagram.com/" target="_blank")
      include ../../images/icon_inst.svg
  li.social__item
    a.social__link(href="https://www.facebook.com/" target="_blank")
      include ../../images/icon_fb.svg
  li.social__item
    a.social__link(href="https://www.vk.com/" target="_blank")
      include ../../images/icon_vk.svg
