include ../../mixins/mixins

section.projects#projects
  .container
    h2.title.projects__title Наши проекты
    ul.projects__list
      +cardProject('small', '#', '16 июня', 'Синтетически, смешаны с не уникальными данными до степени...', '#пейзаж', '#', 'Подзаголовок карточки', 'Подзаголовок карточки')(class="card_1")
      +cardProject('small', '#', '28 мая', 'В своём стремлении улучшить опыт мы упускаем, что явные...', '#портрет', '#', 'Подзаголовок карточки', 'Подзаголовок карточки')(class="card_2")
      +cardProject('small', '#', '14 мая', 'Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада', '#предмет', '#', 'Подзаголовок карточки', 'Подзаголовок карточки')(class="card_3")
      +cardProject('big', '#', '9 апреля', 'В рамках спецификации современных стандартов, интерактивные прототипы', '#fuji', '#', 'Cемантический разбор')(class="card_4")
      +cardProject('big', '#', '20 марта', 'Играет важную роль в формировании глубокомысленных рассуждений', '#проектзабвение', '#', 'Забвение')(class="card_5")
      +cardProject('medium', '#', '9 марта', 'Как принято считать, многие известные личности и по сей день остаются уделом либералов...', '#ретушь', '#', 'Подзаголовок карточки')(class="card_6")
      +cardProject('medium', '#', '1 марта', 'С учётом сложившейся международной обстановки, новая модель организационной...', '#портрет', '#', 'Подзаголовок карточки')(class="card_7")
