$gap: 30px;
$sectionPaddingSmall: 34px;
$sectionPaddingBig: 68px;
$colorWhite: #fff;
$colorBlack: #000;
$colorBlackBrown: #202020;
$colorWetAsphalt: #4a4a4a;
$colorSignalBlack: #333;
$colorDullGray: #666;
$colorPearlLightGrey: #999;
$colorLightGrey: #cacaca;
$colorSilver: #c4c4c4;
$colorSmokyWhite: #e9e9e9;
$colorOrangeCrayola: #ff6e30;
$colorPearlOrange: #bc572b;
$colorTitian: #ce4307;
$colorFireSiennaCraiola: #f06666;
